body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.15);
  padding: 30px;
  border-radius: 20px;
  width: 350px;
  color: white;
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select, button {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  cursor: pointer;
  background: white;
  color: black;
  font-weight: bold;
}

.result {
  margin-top: 15px;
}